button {
    padding: 12px 30px 12px 30px;
    background-color: #850000;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #743939;
}