@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.container{
    display: flex;
    width: 120%;
    height: 450px;
    align-items: center;
    margin-top: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.593), rgba(100, 100, 0, 0)),
    url('https://d3p0bla3numw14.cloudfront.net/news-content/img/2020/10/02093422/gambar-rumah-minimalis-14.jpg') 0 0;
}
.containerhome{
    width: 50%;
    display: flex;
    margin-left: 220px;
    flex-direction: column;
    text-align: justify;
    padding: 20px 30px;
}
.containerhome h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
}
.buttonHome{
    margin-top: 40px;
}