*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.searchin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.item-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.search-input{
  text-align: center;
  padding: 10px;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  width: 5%;
  margin-right: 10px;
}

